// $radius: 2;
$family-sans-serif: 'Roboto', sans-serif;

@import '../../node_modules/bulma/bulma';

body {
    margin: 0;
    padding: 0;
}

header.nav {
    background-color: #f5f5f5;
}

.input, .textarea {
    box-shadow: none;
}

.content-editor__form {
    textarea {
        height: 200px;
        resize: none;
        font-family: 'Hack', 'Source Code Pro', 'Consolas', 'Courier New', monospace;
    }
}

.control, .has-text-right {
    button + button {
        margin-left: 10px;
    }
}

ul.breadcrumb {
    margin-top: -15px;
    li {
        font-size: 80%;
        display: inline-block;

        &::after {
            content: '/';
            margin: 0 5px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

a.tile {
    color: $text;

    &:hover {
      opacity: 0.9;
    }
}


blockquote {
    padding-left: 10px;
    border-left: 5px solid #f5f5f5;
    margin-bottom: 10px;
}

.media-picker .media, .node-picker .card {
    cursor: pointer;

    &.is-selected {
        background-color: $turquoise;
        color: white;
        strong {
            color: white;
        }
    }
}

.node-picker {
    ul li {
        margin-bottom: 4px;

        .level-item {
            display: initial;
        }
    }
}

ul.content-tree {
    li ul {
        padding-left: 10px;
        margin-bottom: 5px;
        border-left: 1px solid #f5f5f5;
    }

    a.is-active {
        font-weight: bold;
    }

    .level {
        margin-bottom: 0;

        .level-left {
            font-size: 90%;
            flex-shrink: 1;

            .level-item {
                flex-shrink: 1;
            }
        }

        .button.add-node {
            border: 0;

            &:focus {
                box-shadow: none;
            }
        }
    }
}
