@import 'base';

@import 'bulma/utilities/utilities';

$radius: 0;

@import 'bulma/elements/elements';
@import 'bulma/base/base';
@import 'bulma/components/components';
@import 'bulma/layout/layout';

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header.nav {
    background-color: #f5f7fa;
}

.input, .textarea {
    box-shadow: none;
}

ul.content-tree {
    li ul {
        padding-left: 10px;
        margin-bottom: 5px;
        border-left: 1px dashed #ccc;
    }

    a.is-active {
        font-weight: bold;
    }
}

.content-editor__form {
    textarea {
        height: 200px;
        resize: none;
    }
}

.control {
    button + button {
        margin-left: 10px;
    }
}

ul.breadcrumb {
    margin-top: -15px;
    li {
        font-size: 80%;
        display: inline-block;
        &::after {
            content: '/';
            margin: 0 5px;
            color: #1fc8db;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

a.tile {
    color: #69707a;
}