// $radius: 2;
$family-sans-serif: 'Roboto', sans-serif;

@import '../../node_modules/bulma/bulma';

body {
    margin: 0;
    padding: 0;
}

header.nav {
    background-color: #f5f5f5;

    .nav-item {
        text-transform: uppercase;

        &.is-active {
            background-color: #fff;
        }
    }
}

.input, .textarea {
    box-shadow: none;
}

.content-editor__form {
    textarea {
        height: 200px;
        resize: none;
    }
}

.control, .has-text-right {
    button + button {
        margin-left: 10px;
    }
}

ul.breadcrumb {
    margin-top: -15px;
    li {
        font-size: 80%;
        display: inline-block;

        &::after {
            content: '/';
            margin: 0 5px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

@each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    .tile.is-#{$name} {
        a {
            color: $color-invert;
        }
    }
}

blockquote {
    padding-left: 10px;
    border-left: 5px solid #f5f5f5;
    margin-bottom: 10px;
}

.media-picker .card, .node-picker .card {
    cursor: pointer;

    .card-content {
      padding: .5rem;

      .filename {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &.is-selected {
      .card-image::before {
          color: white;
          content: '\f00c';
          font: normal normal normal 14px/1 FontAwesome;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
          width: 32px;
          height: 32px;
          background-color: $turquoise;
          z-index: 99;
      }
    }
}

.node-picker {
    ul li {
        margin-bottom: 4px;

        .level-item {
            display: initial;
        }
    }
}

ul.content-tree {
    li ul {
        padding-left: 10px;
        margin-bottom: 5px;
        border-left: 1px solid #f5f5f5;
    }

    a.is-active {
        font-weight: bold;
    }

    .level {
        margin-bottom: 0;

        .level-left {
            font-size: 90%;
            flex-shrink: 1;

            .level-item {
                flex-shrink: 1;
            }
        }

        .button.expand {
            border: 0;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .button.add-node {
        white-space: normal;
        height: auto;
    }
}

.media--upload__dropzone {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}
