{
  "semi": false,
  "singleQuote": true,
  "": true,
  "trailingComma": "es5",
  "useTabs": false,
  "printWidth": 120,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "*.cs",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
